# Ignore the file containing the cached Spotify API token from the last execution
.cache

# Ignore the IDE files
.idea/

# Ignore the virtual environment
venv/

# Ignore the folder containing temporary work files for pyinstaller
build/